name: Run My Custom OS
on: [push]

jobs:
  trench-cloud-job:
    runs-on: ubuntu-latest
    
    # Kuncinya di sni: Pake image lo sebagai environment!
    container:
      image: ghcr.io/mybantrx/trench-panel:latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Test My Custom OS
        run: |
          # Munculin branding lo di log GH Action
          fastfetch
          php -v
          echo "Gue lagi jalan di dalem Trench Cloud SG-01!"
